<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
    <title>Dojo Survey</title>
    </head>
    <body>
        <main>
            <div class="result">

            </div>
            <section class="surveyBox">
                <h1>
                    Dojo Survey 
                </h1>
                <form class="messageForm">
                    <div class="inputLines">
                        <label for="name">
                            Name:
                        </label>
                        <input type="text" id="name" name="name" />
                    </div>
                    <div class="inputLines">
                        <label for="location">
                            Dojo Location:
                        </label>
                        <select name="location" id="location">
                            <option value="">--Select Location--</option>
                            <option value="Chicago">Chicago</option>
                            <option value="Seattle">Seatle</option>
                            <option value="Online">Online</option>
                            <option value="Burbank">Burbank</option>
                        </select>
                    </div>
                    <div class="inputLines">
                        <label for="language">
                            Favorite Language:
                        </label>
                        <select name="language" id="language">
                            <option value="">--Select Language--</option>
                            <option value="HTML">HTML</option>
                            <option value="CSS">CSS</option>
                            <option value="Python">Python</option>
                            <option value="JavaScript">JavaScript</option>
                        </select>
                    </div>
                    <div class="inputLines">
                        <label for="comments">
                            Comments (optional):
                        </label>
                        <textarea name="comments" id="comments" cols="30" rows="10"></textarea>
                    </div>
                    <button type="submit">
                        Submit
                    </button>
                </form>
            </section>
        </main>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</html>